@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Raleway:wght@300;400;500;600;700&family=Syncopate:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #1A1B27;
}

.header {
  width: 100vw;
  height: 80px;
  display: flex;
  background: #1A1B27;
  justify-content: center;
}

.header .wrapper {
  align-items: center;
}

.header__logo {
  width: 90px;
  height: 60px;
  background: #4FA0FF;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo .logo__text {
  display: flex;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 6%;
  color: #F6F6F6;
  font-size: 18px;
}

.header__nav {
  display: flex;
  width: 714px;
  height: 20px;
  justify-content: space-between;
}

.header__link {
  font-family: Syncopate;
  font-weight: 700;
  font-size: 16px;
  font-style: bold;
  text-transform: uppercase;
}

.header__link a {
  text-decoration: none;
  color: #F6F6F6;
}

.header__link .about {
  color: #4FA0FF;
}

.wrapper {
  width: 80vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main {
  width: 100vw;
  height: 100vh;
  margin-bottom: 200px;
  display: flex;
  background-color: #4FA0FF;
  background-image: url(../img/main_bg.png);
  background-size: cover;
}

.main-body {
  display: flex;
  margin: 0 auto;
  width: 80vw;
  height: 100%;
  justify-content: flex-start;
}

.main__titles {
  width: 25vw;
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  color: #F6F6F6;
}

.main__titles .text1 {
  display: flex;
  font-family: Poppins;
  font-weight: 700;
  line-height: 70px;
  font-style: bold;
  letter-spacing: 2%;
  font-size: 80px;
}

.main__titles .text2 {
  display: flex;
  font-family: Raleway;
  font-weight: 500;
  width: 470px;
  font-style: medium;
  letter-spacing: 1%;
  font-size: 32px;
  text-align: left;
}

.main__titles .text3 {
  display: flex;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 1%;
  font-size: 22px;
}

.pluses {
  width: 100vw;
  height: 334px;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

.pluses .wrapper {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  margin-right: 288px;
  margin-left: 0;
}

.pluses .pluses__body {
  width: 56vw;
  background-color: #F6F6F6;
  margin-right: 56px;
}

.pluses__img {
  display: flex;
  background-image: url(../img/cover_image.png);
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.7;
  width: 56vw;
  margin-right: 56px;
  background-color: #F6F6F6;
  background-size: cover;
}

.pluses__titles {
  width: 576px;
  height: 89px;
  display: flex;
  flex-direction: column;
  margin-left: 227px;
  margin-top: 121px;
  align-content: space-between;
  color: #F6F6F6;
}

.pluses__title {
  display: flex;
  font-family: Syncopate;
  font-style: bold;
  font-size: 40px;
  line-height: 42px;
}

.pluses__subtitle {
  display: flex;
  font-family: Raleway;
  font-size: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 42px;
}

.pluses__list {
  display: flex;
  align-self: center;
  width: 31vw;
  color: #F6F6F6;
  font-family: Raleway;
  font-weight: 400;
  font-size: 28px;
  font-style: Regular;
  line-height: 43px;
  letter-spacing: 1%;
}

.carts {
  width: 100vw;
  height: 917px;
}

.carts .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.carts__title {
  font-family: Syncopate;
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 37px;
  letter-spacing: 2%;
  color: #F6F6F6;
}

.carts .cart {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.carts .cart .item1 {
  background: linear-gradient(#5BFFA7, #00D361);
}

.carts .cart .item2 {
  background: linear-gradient(#FFB800, #FF7A00);
}

.carts .cart .item3 {
  background: linear-gradient(#5CE2FF, #0085FF);
}

.carts .cart .item4 {
  background: linear-gradient(#CB5BFF, #CF00D3);
}

.carts .cart .item5 {
  background: linear-gradient(#FFB800, #BDFF00);
}

.carts .cart .item6 {
  background: linear-gradient(#875CFF, #3300FF);
}

.carts .item {
  border-radius: 25px;
  height: 370px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 32%;
}

.carts .item img {
  width: 100%;
}

.carts .item__img {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 80px);
}

.carts .item__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #F6F6F6;
  border-radius: 0px 0px 25px 25px;
}

.carts .item__bottom b {
  display: flex;
  align-self: center;
  height: 35px;
  letter-spacing: 2%;
  font-family: Raleway;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

.content {
  display: flex;
  width: 100vw;
  height: 2292px;
  margin-top: 110px;
}

.content .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.content__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  width: calc(100% - 740px);
  height: 100%;
}

.content__item {
  height: 573px;
  display: flex;
}

.content__images {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 740px;
}

.content__images img {
  width: 100%;
}

.content .img__item {
  height: 573px;
  flex-direction: column;
  margin-top: 60px;
}

.content__body {
  width: 590px;
  height: 303px;
  margin-top: 184px;
  margin-bottom: 86px;
  display: flex;
  flex-direction: column;
  color: #F6F6F6;
  text-align: left;
}

.content__title {
  font-family: Syncopate;
  font-weight: 700;
  font-size: 36px;
  line-height: 37px;
  margin-bottom: 20px;
}

.content__subtitle {
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 15px;
}

.content__text {
  font-family: Raleway;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
}

.features {
  display: flex;
  width: 100vw;
  height: 842px;
}

.features .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.features .carts__title {
  margin-top: 150px;
  margin-bottom: 80px;
}

.features__text {
  width: 100%;
  height: 100%;
}

.features__text img {
  width: 100%;
}

.roadmap {
  width: 100vw;
  height: 2082px;
  display: flex;
  color: #F6F6F6;
  background-image: url(../img/roadmap/1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.roadmap .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 110px;
  height: 100%;
}

.roadmap .wrapper__row {
  display: flex;
  margin-top: 70px;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100%-37px);
}

.roadmap .carts__title {
  text-transform: uppercase;
}

.roadmap .slider {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 1625px;
  margin-right: 160px;
  position: relative;
}

.roadmap .slider .circle__year {
  width: 130px;
  height: 130px;
  background-color: #F6F6F6;
  border-radius: 50%;
  box-shadow: 9px 9px 45px rgba(113, 113, 255, 0.25);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap .slider .circle__year b {
  font-family: Syncopate;
  font-weight: 700;
  font-size: 28px;
  color: #00C2FF;
  z-index: 2;
}

.roadmap .slider #circle__2022 {
  margin-top: 388px;
}

.roadmap .slider .line {
  display: flex;
  width: 8px;
  height: 1557px;
  position: absolute;
  z-index: 0;
  margin-top: 68px;
  background-image: url("../img/roadmap/Rectangle.png");
}

.roadmap .slider .pointer {
  width: 24px;
  height: 24px;
  background-color: #F6F6F6;
  border-radius: 50%;
  margin-top: 257px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 3.57px 7.13px rgba(0, 0, 0, 0.15);
}

.roadmap__levels {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  margin-left: 37px;
}

.roadmap .title {
  font-family: Syncopate;
  font-weight: 700;
  text-align: left;
  font-size: 36px;
  line-height: 37px;
}

.roadmap .subtitle {
  font-family: Syncopate;
  font-weight: 700;
  text-align: left;
  font-size: 48px;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.roadmap ul {
  margin-left: 37px;
  margin-bottom: 114px;
  list-style-image: url(../img/roadmap/2.svg);
}

.roadmap li {
  padding-left: 16px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  line-height: 200%;
  text-align: left;
}

.team {
  width: 100vw;
  height: 665px;
  margin-top: 120px;
}

.team .wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
  height: 525px;
  border: 1px solid blue;
}

.team .carts__title {
  text-transform: uppercase;
}

.team .carts {
  width: 100%;
  height: 90%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team .cart {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.team img {
  position: absolute;
  display: flex;
  width: 100%;
}

.team .sphere {
  z-index: 1;
}

.team .item_1 {
  width: 340px;
  height: 388px;
  z-index: 1;
}

.team .item_2 {
  width: 294px;
  height: 230px;
  margin-top: 30px;
  margin-left: 23px;
  z-index: 3;
}

.team .position {
  position: absolute;
  z-index: 2;
  font-family: Syncopate;
  font-weight: 700;
  color: #F6F6F6;
  font-size: 18px;
  line-height: 24px;
  line-height: 128px;
  text-align: left;
  letter-spacing: 3%;
  margin-bottom: 40px;
  margin-left: 107px;
  padding-top: 10px;
}

.team .name {
  position: absolute;
  z-index: 2;
  font-family: Raleway;
  font-weight: 700;
  color: #F6F6F6;
  font-size: 22px;
  line-height: 24px;
  line-height: 93%;
  text-align: left;
  letter-spacing: 3%;
  margin-bottom: 74px;
  margin-left: 144px;
}

.team .cart__1 .position {
  margin-top: 290px;
}

.team .item_3 {
  width: 85.61px;
  height: 85.66px;
  align-self: flex-end;
}

.team .item_4 {
  width: 55px;
  height: 55.03px;
  margin-bottom: 140px;
  align-self: flex-start;
  margin-top: 340px;
}

.team .item_5 {
  width: 56.61px;
  height: 56.64px;
  margin-left: 298px;
  margin-top: 243px;
}

.team .item_6 {
  width: 123px;
  height: 123.06px;
}

.border {
  width: 100vw;
  height: 1px;
  background-color: #323542;
}

.footer {
  width: 100vw;
  height: 80px;
}

.footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__left {
  width: 612px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__left .title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #F6F6F6;
}

.footer__right {
  display: flex;
  width: 270px;
  height: 30px;
  justify-content: space-between;
  align-content: center;
}
/*# sourceMappingURL=index.css.map */