@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Raleway:wght@300;400;500;600;700&family=Syncopate:wght@700&display=swap');

$dark:#1A1B27;
$blue:#4FA0FF;
$white:#F6F6F6;
$font-dark:#333333;

*{
    margin: 0;
    padding: 0;
}

body{
    background: $dark;
}
.header{
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
    background: $dark;
    justify-content: center;

    .wrapper{
        
        align-items: center;
    }

    &__logo{
        width: 90px;
        height: 60px;
        background: $blue;
        border-radius: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo__text{
            display: flex;
            font-family: Poppins;
            line-height: 20px;
            letter-spacing: 6%;
            color: $white;
            font-size: 18px;
        }
    }
    li { 
        list-style-type: none; 
    }
    &__list{
        display: flex;
        width: 714px;
        height: 20px;
        justify-content: space-between;
    }
    &__link{
        font-family: Syncopate;
        font-weight: 700;
        font-size: 16px;
        font-style: bold;
        text-transform: uppercase; 
        a{
            text-decoration: none;
            color: $white;
        }
        .about{
            color: $blue;
        }
    }

    .header__burger{
        display: none;
    }
}

.wrapper{
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main{
    width: 100%;
    height: 100vh;
    margin-bottom: 80px;
    display: flex;
    background-color: $blue;
    background-image: url(../img/main_bg.png);
    background-size: cover;

    &-body{
        display: flex;
        margin: 0 auto;
        width: 80vw;
        height: 100%;
        justify-content: flex-start;
    }

    &__titles{
        width: 25vw;
        height: 214px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        color: $white;

        .text1{
            display: flex;
            font-family: Poppins;
            font-weight: 700;
            line-height: 70px;
            font-style: bold;
            letter-spacing: 2%;
            font-size: 80px;
        }
        .text2{
            display: flex;
            font-family: Raleway;
            font-weight: 500;
            width: 470px;
            font-style: medium;
            letter-spacing: 1%;
            font-size: 32px;
            text-align: left;
        }
        .text3{
            display: flex;
            font-family: Raleway;
            font-weight: 400;
            font-style: Regular;
            letter-spacing: 1%;
            font-size: 22px;
        }
    }  
}

.pluses{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    .wrapper{
        display: flex;
        justify-content: start;
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .pluses__body{
        width: 56vw;
        background-color: $white;
        margin-right: 56px;
    }
    &__img{
        display: flex;
        background-image: url(../img/cover_image.png);
        background-repeat:no-repeat;
        height: 100%;
        opacity: 0.7;
        width: 56vw;
        margin-right: 56px;
        background-color: $white;
        background-size: cover;
    }
    &__titles{
        width: 576px;
        height: 89px;
        display: flex;
        flex-direction: column;
        margin-left: 227px;
        margin-top: 121px;
        align-content: space-between;
        color: $white;
    }
    &__title{
        display: flex;
        font-family: Syncopate;
        font-style: bold;
        font-size: 40px;
        line-height: 42px;
    }
    &__subtitle{
        display: flex;
        font-family: Raleway;
        font-size: 500;
        font-style: medium;
        font-size: 32px;
        line-height: 42px;
    }
    &__list{
        display: flex;
        align-self: center;
        width: 31vw;
        color: $white;
        font-family: Raleway;
        font-weight: 400;
        font-size: 28px;
        font-style: Regular;
        line-height: 43px;
        letter-spacing: 1%;
    }
}


.carts{
    width: 100vw; 
    height: auto;
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }
    &__title{
        font-family: Syncopate;
        font-weight: 700;
        font-style: bold;
        font-size: 36px;
        line-height: 37px;
        letter-spacing: 2%;
        color: $white;
        margin-bottom: 80px;
    }
    .cart{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        .item1{
            background: linear-gradient(#5BFFA7, #00D361);
        }
        .item2{
            background: linear-gradient(#FFB800, #FF7A00);
        }
        .item3{
            background: linear-gradient(#5CE2FF, #0085FF );
        }
        .item4{
            background: linear-gradient(#CB5BFF, #CF00D3);
        }
        .item5{
            background: linear-gradient(#FFB800, #BDFF00);
        }
        .item6{
            background: linear-gradient(#875CFF, #3300FF);
        }
    }
    .item{
        border-radius: 25px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0 0 32%;

        img{
            width: 100%;
        }

        &__img{
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        &__bottom{
            display: flex;
            justify-content: center;
            
            width: 100%;
            height: 80px;
            background-color: $white;
            border-radius: 0px 0px 25px 25px;
            b{
                display: flex;
                align-self: center;
                letter-spacing: 2%;
                font-family: Raleway;
                font-size: 30px;
                text-align: center;
                color: $font-dark;
            }
        }
    }
}

.solution{
    display: none;  
    width: 100%;
    height: auto;
    margin-top: 119px;

    &__image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        margin-bottom: 51px;
        p{
            display: flex;
        }
    }
    &__body{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $white;
        text-align: left;
        margin-bottom: 32px;
    }
    &__title{
        font-family: Syncopate;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 21px;
        /* identical to box height */
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }
    &__subtitle{
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }
    &__text{
        font-family: Raleway;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
    }

}
.content{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 110px;

    .wrapper{
        margin: 0 auto;
        position: relative;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-between;
    }
    &__item{
        display: flex;
    }
    &__images{
        display: flex;
        flex-direction: column;
        height: 573px;
        width: 740px;
        top: 0;
        position: sticky;
        img{
            width: 100%;
        }
    }
    .img__item{
        flex-direction: column;
        margin-top: 60px;
    }
    &__body{
        width: 432px;
        margin-top: 184px;
        margin-bottom: 86px;
        display: flex;
        flex-direction: column;
       
        color: $white;
        text-align: left;
    }

    &__title{
        font-family: Syncopate;
        font-weight: 700;
        font-size: 36px;
        line-height: 37px;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-family: Raleway;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    &__text{
        font-family: Raleway;
        font-weight: 300;
        font-size: 22px;
        line-height: 150%;
    }
}

.features{
    display: flex;
    width: 100%;
    height: auto;
    .wrapper{
        display: flex;
        flex-direction: column; 
        align-items: center;
        height: auto;
    }
    .carts__title{
        margin-top: 150px;
        margin-bottom: 80px;
        text-align: center;
    }
    &__text{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.roadmap{
    width: 100vw;
    height: auto;
    display: flex;
    color: $white;
    background-image: url(../img/roadmap/1.png);
    background-size: contain;
    background-repeat:no-repeat;

    .wrapper{
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        height: auto;
        margin-top: 110px;
        &__row{
            display: flex;
            margin-top: 70px;
            flex-direction: row; 
            justify-content: flex-start;
            height: calc(100%-37px);
        }
    }
    .carts__title{
        text-transform: uppercase;
    }
    .slider{
        display: flex;
        justify-content: center;
        width: 130px;
        margin-right: 160px;
        position: relative;
        .circle__year{
            width: 130px;
            height: 130px;
            background-color: $white;
            border-radius: 50%;
            box-shadow: 9px 9px 45px rgba(113, 113, 255, 0.25);
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            b{
                font-family: Syncopate;
                font-weight: 700;
                font-size: 28px;
                color: #00C2FF;
                z-index: 2;
            }
        }
        #circle__2022{
            margin-top: 388px;
        }
        .line{
            display: flex;
            width: 8px;
            min-height: 2337px;
            position: absolute;
            z-index: 0;
            margin-top: 68px;
            background-image: url('../img/roadmap/Rectangle.png');
        }
        .pointer{
            width: 24px;
            height: 24px;
            background-color: $white;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            box-shadow: 0px 3.57px 7.13px rgba(0, 0, 0, 0.15);
            top: 0;
            position: absolute;
        }
    }
    &__levels{
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        margin-left: 37px;
    }
    .title{
        font-family: Syncopate;
        font-weight: 700;
        text-align: left;
        font-size: 36px;
        line-height: 37px;
    }
    .subtitle{
        font-family: Syncopate;
        font-weight: 700;
        text-align: left;
        font-size: 48px;
        line-height: 50px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    ul{
        margin-left: 37px;
        margin-bottom: 114px;
        list-style-image: url(../img/roadmap/2.svg);
    }
    li{
        padding-left: 16px;
        font-family: Raleway;
        font-weight: 500;
        font-size: 24px;
        line-height: 48px;
        line-height: 200%;
        text-align: left;
    }
    .level_1{
        width: 30vw;
    }
    .level_2{
        width: 37.3vw;
        // width: 710px;
    }
    .level_3{
        width: 32.1vw;
        // width: 611px;;
    }
    .level_4{
        width: 32.1vw;
        // width: 611px;
    }
    .level_5{
        width: 32.1vw;
        // width: 611px;
    }
}
.team{
    width: 100vw;
    height: auto;
    margin-top: 120px;
    margin-bottom: 168px;
    
    .wrapper{
        flex-direction: column; 
        align-items: center;
        justify-content: unset;
        height: auto;
        z-index: 2;
    }
    .carts__title{
        text-transform: uppercase;
        margin-bottom: 72px;
    }
    .people{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        // flex-wrap: wrap;
    } 
    .team-1{
        display: flex;
        justify-content: center;
        flex-direction: row;
        // flex-wrap: wrap;
    }
    .team-2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        columns: 2;
        // flex-wrap: wrap;
    }
    .staff{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        background: linear-gradient(117.15deg, rgba(255, 255, 255, 0.25) 1.63%, rgba(255, 255, 255, 0.1) 97.11%);
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(40px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 25px;
        margin-right: 30px;
        margin-bottom: 50px;
        width: 340px;
        padding: 30px 23px;

        .image {
            width: 100%;
            height: auto;
            z-index: 3;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .name {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            color: white;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.03em;
            z-index: 4;
        }

        .job {
            text-align: center;
            color: white;
            font-family: Syncopate;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.03em;
            z-index: 4;
        }

        .sphere {
            position: absolute;
        }
        .sphere1{
            top: -22px;
            right: -14px;
        }
        .sphere2{
            bottom: -27px;
            left: -20px;
        }
        .sphere3{
            bottom: 88.36px;
            right: -14.61px;
        }
        .sphere4 {
            top: -15px;
            left: -20px;
        }
    }
    .staff-2{
        margin-right: 0;
    }
    .staff-4{
        margin-right: 0;
        .name{
            text-align: left;
        }
        .job{
            text-align: left;
        }
        .text{
            position: absolute;
            height: 50%;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 118px;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */
            display: flex;
            align-items: center;

            /* Colors/White */
            color: #FFFFFF;
            
        }
    }

    .cart:not(:last-child) {
        margin-right: 35px;
    }
}

.border{
    width: 100vw;
    height: 1px;
    background-color: #323542;
}
.footer{
    width: 100vw;
    height: 80px;
    
    .wrapper{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__left{
        width: 612px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .title{
            font-family: Raleway;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            color: $white;
        }
    }
    &__right{
        display: flex;
        width: 270px;
        height: 30px;
        justify-content: space-between;
        align-content: center;
    }
}

@media (max-width:375px){
    .pluses{
        height: 100%;
        margin-bottom: 100px;
        .wrapper{
            flex-direction: column;
        }
        &__list{
            margin-top: 50px;
        }
        .pluses__body{
            width: 100%;
            height: 156px;

            .pluses__img {
                width: 100%; 
            }
        }
        .pluses__titles {
            margin: 0;
            height: 100%;
            padding: 50px 0px;
            align-items: center;
        }
        &__title{
            font-size: 24px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 8px;
        }
        &__subtitle{
            font-style: medium;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
        }
        li{
            list-style-type: none; 
            font-size: 16px;
            line-height: 160%;
        }
        .pluses__list{
            width: 100%;
            text-align: center;
            padding: 0px 23px;

            ul{
                width: 100%;
            }
        }
    }
    
    .carts{
        height: auto;
        text-align: center;
        .item{
            flex: 0 0 100%;
        }
        .cart{
            height: auto;
        }
    }

    .roadmap{
        background-image: none;
        .carts__title{
            font-size: 24px;
            line-height: 25px;
            text-align: center;
            margin-bottom: -60px;
        }
        .wrapper{
            width: 100%
        }
        .wrapper__row{
            padding-left: 16px;
            padding-right: 22px;
        }
        .slider{
            width: 53px;
            .circle__year{
                width: 50px;
                height: 50px;
                left: 16px;
                top: 50px;
                b{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 15px;
                }
            }
            .line{
                width: 4px;
                left: 39px;
            }
            .pointer{
                width: 18px;
                height: 18px;
                left: 32px;
            }
        }
        &__levels{
            width: 214px;
            left: 84px;
            margin-top: 50px;
        }
        .title{
            font-size: 20px;
            line-height: 21px;
            margin-left: -113px;
        }
        .subtitle{
            font-size: 18px;
            line-height: 21px;
            margin-left: -113px;
        }
        li{
            font-weight: 500;
            font-size: 16px;
            line-height: 200%;
        }
        ul{
            margin-left: -90px;
            margin-bottom: 130px;
            width: 190px;
            list-style-image: url(../img/roadmap/3.svg);
        }
    }

    .team{
        margin: 0 auto;
        .staff-4{
            .text{
                font-size: 17px;
                line-height: 150%;;
            }
        }
        
    }

    .footer{
        height: auto;
        .wrapper{
            justify-content: center;
        }
        &__left{
            width: 168px;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            justify-self: center;
            margin-bottom: 15px;
            margin-top: 15px;
            .title{
                width: 100%;
                font-size: 12px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
        &__right{
            margin-bottom: 20px;
        }
    }
    .features{
        .carts__title{
            margin-top: 100px;
            margin-bottom: 30px;
        }
    }
    .content__description{
        display: none;
    }
    .content__images{
        display: none;
    }
    .solution{
        display: flex;
        flex-direction: column;
    }
    .content{
        margin-top: 0px;
    }
    .main{
        justify-content: center;
        background-color: $blue;
        background-image: url(../img/main/bg2.png) ;
        background-repeat:no-repeat;
        background-size: cover;

        &-body{
            justify-content: center;
            margin: 0;
        }
        &__titles{
            width: 219px;
            justify-content: unset;
            text-align: center;
            align-self: flex-start;
            align-content: center;
            margin-top: 90px;
        }
        .text1{
            display: flex;
            align-self: center;
            width: 100%;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 39px;
            text-align: center;
            margin-bottom: 5px;
            margin-left: 107px;
        }
        .text2{
            width: 100%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            margin-bottom: 5px;
            
        }
        .text3{
            width: 100%;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 12px;
            line-height: 150%;
            margin-left: 56px;
        }
    }
    
}
@media (max-width:320px){
    // .team{
    //     padding: 0 16px;
    // }
}
@media (min-width:2100px){
    .staff{
        width: 340px;
        height: 388px;
    }
}
@media (max-width: 1680px){
    .team{
        .people{
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 1152px){
    .header{
        &__menu{
            display: none;
            po
        }&__burger{
            display: block;
            position: relative;
            width: 14px;
            height: 12px;
            img{
                width: 100%;
            }
        }
    }
    @media (max-width:767px){
        .header__burger{
            display: block;
            position: relative;
            width: 14px;
            height: 12px;
            img{
                width: 100%;
            }
        }
    }
    .roadmap{
        background-image: none;
    }
}
@media (max-width: 1024px){
    .footer{
        .wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__left{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .main{
        justify-content: center;
        background-color: $blue;
        background-image: url(../img/main/bg2.png) ;
        background-repeat:no-repeat;
        background-size: cover;

        &-body{
            justify-content: center;
            margin: 0;
        }
        &__titles{
            width: 60%;
            justify-content: unset;
            text-align: center;
            align-self: flex-start;
            align-content: center;
            margin-top: 341px;
        }
        .text1{
            display: flex;
            align-self: center;
            width: 100%;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 39px;
            text-align: center;
            margin-bottom: 40px;
            margin-left: 140px;
        }
        .text2{
            width: 100%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150%;
            text-align: center;
            margin-bottom: 16px;
            
        }
        .text3{
            width: 100%;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 22px;
            line-height: 150%;
            margin-left: 135px;
        }
    }
}
@media (max-width: 850px){
    .team{
        margin-bottom: 50px;
        .team-1{
            flex-wrap: wrap;
        }
        .staff{
            width: 250px;
            height: 285px;
            margin-right: 0;
            .name{
                position: absolute;
                margin-top: 228px;
                left: 0;
            }
            .job{
                position: absolute;
                margin-top: 258px;
                left: 122px;
            }
        }
        .team-2{
            flex-wrap: wrap;
        }
        .staff-4{
            height: 295px;
            .text{
                font-size: 17px;
                width: 100%;
                position: unset;
                height: 158px;
                margin-right: 0;
                margin-left: 0;
                margin-top: 118px;
            }
            .name{
                position: absolute;
                margin-top: 2px;
                left: 21px;
            }
            .job{
                position: absolute;
                margin-top: 29px;
                left: 21px;
                // top: 47px;
                // left: 22px;
            }
        }
    }
}